@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	padding-top: 45px;
}

.keyboard-container{
	margin-top: 55px;
	width: 750px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	background-color: rgb(196, 196, 196);
	padding: 15px;

	
}

h1{
	margin-bottom: 25px;
	font-family: 'Poppins', sans-serif;
	font-family: 'Work Sans', sans-serif;
}

.keys{
	height: 40px;
	background-color: rgba(41, 41, 41, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 6px;
	color: rgb(216, 216, 216);
	font-family: 'Poppins', sans-serif;
	font-family: 'Work Sans', sans-serif;
	transition: all 0.3s;
	user-select: none;
	
}

.keys:hover{
	transition: transform 0.2s;

	background-color: rgba(92, 92, 92, 0.5);

}

.keys:active{
	transition: transform 0.5s;

	background-color:blueviolet;

}

.active-caps{
	background-color:blueviolet;
}

.active{
	background-color:blueviolet;
}


.footer-container{
	text-align: center;
}

.desc{
	margin-top: 25px;
	font-family: 'Poppins', sans-serif;
	font-family: 'Work Sans', sans-serif;

}

.lang{
	margin-top: 25px;

	font-family: 'Poppins', sans-serif;
	font-family: 'Work Sans', sans-serif;

}

